<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
  	<div class="row justify-content-center">
  		<center>
		    <span class="text-muted">Made With <i class="far fa-fw fa-lg fa-heart"></i> From Evoush::Official</span>
		    <br>
		    <cite>&reg;\{{year}} | Evoush</cite>
  		</center>
  	</div>
  </div>
</footer>