<header class="pb-3 mb-4 border-bottom">

	<div class="container">
		<div class="d-flex flex-row-reverse">
			<div class="col-lg-6">
				{{>brand}}
			</div>
			<div class="col-md-4">
				{{>widget}}
			</div>
		</div>
	</div>

</header>

